.App {
  text-align: center;
  /* background-color: black;
  color: white; */
}

.App-dark {
  text-align: center;
  background-color: black;
  background-size: cover;
  color: white;
}


.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: #aaa;
}

.search-input {
  z-index: 200;
  margin-top: 50px;
  width: 40%;
  padding: 10px 40px 10px 40px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-input:focus {
  outline: black;
  /* background-color: rgb(162, 162, 162); */
}

.search-button {
  margin-top: 50px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0069d9;
}

/* .search-results {
  display: flex;
  justify-content: center;
  text-align: left;
} */

.search-results__word {
  font-family: serif;
  justify-content: left;
  /* position: fixed; */
  top: 10px;
  font-size: 64px;
  margin-left: 380px;
  text-align: left;
}

.search-results__phonetic {
  justify-content: left;
  margin-left: 380px;
  text-align: left;
  font-size: 24px;
  color: #A445ED;
  
  right: 410px;
}

.search-results_firstPOS{
  font-size: 24px;
  font-family: serif;
  justify-content: left;
  text-align: left;
  margin-left: 380px;
  font-weight: bold;
}

/* .search-results_firstPOS::after {
  content: "";
  display: block;
  width: 70%;
  border-bottom: 1px solid rgb(213, 213, 213);

  
}  */

.search-results__meaning {
  font-family: serif;
  justify-content: left;
  text-align: left;
  margin-left: 380px;
  color: gray;
}

.search-results__meaning-box {
  display: inline;
}

.synonym {
  font-family: serif;
  justify-content: left;
  text-align: left;
  font-size: 20px;
  margin-left: 380px;
}

.search-results__definitions {
  font-family: serif;
  justify-content: left;
  text-align: left;
  margin-left: 360px;
  list-style-type: disc;
  max-width: 600px;
  
}

.search-results__definitions::marker {
  color: red;
}


.bottom-line {
  font-family: serif;
  justify-content: left;
  text-align: left;
  margin-left: 380px;
  font-size: 20px;
}


.sound-button {
  color: #A445ED;
  cursor: pointer;
}

#toggle {
  display: none;
}

/* Style the label to look like a button */
label[for="toggle"] {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
}

/* Create the sliding effect */
label[for="toggle"]::before {
  content: '';
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  transition: transform 0.2s ease-in-out;
}

/* Slide the toggle when the checkbox is checked */
#toggle:checked + label::before {
  transform: translateX(30px);
}